@import "../../../../styles/colors.module.scss";

.ctaSection {
  background-color: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  gap: 30px;
}

.imgCta {
  width: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.imgLogoNav {
  width: 180px;

}


.navBtn {
  margin: 0px 5px;
  border-color: transparent;
  color: $lightGray;
  


  &:hover {
    border-color: $lightBlue;
    color: white;
    background-color: transparent;
  }
}


@media (max-width: 442px) {
  .nav {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
  }

  .navBtn {
    margin: 16px 10px;
    border-color: white;
    font-size: 14px;
  }

  .ctaSection {
    gap: 10px;
  }

  .imgLogoNav {
    width: 120px;
  }
}

@media (max-width: 329px) {
  .ctaSection {
    text-align: center;
  }

  .imgCta {
    margin: 0px 8px;
  }
}